<h1> Time for battle... </h1>

<%= @game.current_turn.name%>'s turn

<%= @game.player_1.name%>: <%=@game.player_1.hp%>HP vs. <%=@game.player_2.name%>: <%=@game.player_2.hp%>HP

<form action='/attack'>
  <input type='submit' value='Attack!'>
</form>
